# System files
# ------------

Icon
.DS_Store
.cache
.htaccess

# Temporary files
# ---------------

storage/cache/*

# -------------SECURITY-------------
# NEVER publish these files via Git!
# -------------SECURITY-------------

# Kirby accounts
# ---------------

storage/accounts/*
public/proxy/auth.php

# Content (Single Source of Truth online)
# ---------------
storage/content/*
storage/media/*
public/media
storage/sessions/*

# Kirby CMS + Panel
# ---------------
kirby/*

# Kirby CMS + Panel
# ---------------
vendor/*
site/plugins*
